.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actions {
  position: absolute;
  top: 12px;
  left: 12px;
  display: flex;
  flex-direction: column;
  padding: 0px 16px 6px 16px;

  color: black;
  background-color: beige;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.field {
  display: flex;
  align-items: center;
  gap: 6px;

  margin-bottom: 12px;
}
